@import url("https://fonts.googleapis.com/css?family=Lato:300");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #555;
  background: #ddd;
}
.container {
  width: 90vw;
  max-width: 800px;
  margin: 1.5rem auto;
  text-align: center;
}