@import url("https://fonts.googleapis.com/css?family=Lato:300");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #555;
  background: #ddd;
}
.container {
  width: 90vw;
  max-width: 800px;
  margin: 1.5rem auto;
  text-align: center;
}

.area {
  fill: url(#temperature-gradient);
  stroke-width: 1px;
}
.grid-line {
  stroke: rgba(153, 153, 153, 0.192);
}
svg path.line {
  fill: none;
  stroke: rgb(250, 3, 3);
  stroke-width: 1px;
}
.highlightGrid {
  stroke: rgb(250, 3, 3);
  stroke-width: 1px;
}
